.wrapper {
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
}
.img-wrapper {
    width: 100%;
    max-height: 277px;
    overflow: hidden;
    .img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .img2 {
        display: none;
    }
    &:hover {
        .img1 {
            display: none;
        }
        .img2 {
            display: block;
        }
    }
}
.info {
    margin-top: 12px;
    padding: 10px;
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-color);
    .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .price {
        margin-top: 6px;
        font-size: 1.4rem;
    }
    .action {
        margin-top: 12px;
        display: flex;
        align-items: center;
    }
}
