.wrapper {
    width: 100%;
}
.img-wrapper {
    width: 100%;
    .img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.info {
    padding-top: 12px;
    text-align: left;
    font-size: 1.6rem;
    .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .price {
        margin-top: 6px;
        font-size: 1.4rem;
    }
    .btn {
        margin-top: 12px;
    }
}
