.wrapper {
}
.table {
    width: 100%;
    border-collapse: collapse;
    color: #666;
    font-size: 1.4rem;
    margin-bottom: 16px;
    tr {
        border-bottom: 1px solid #ececec;
    }
    td {
        padding: 8px;
    }
}
.item {
    display: flex;
    align-items: center;
}
