.container {
    @media screen and (min-width: 1023px) {
        padding: 40px 0 40px 70px;
    }
}
.slider-image {
    @media screen and (min-width: 1023px) {
        padding: 40px;
    }
}
.image {
}
.info {
    @media screen and (min-width: 1023px) {
        padding: 40px 70px 0 40px !important;
    }
    text-align: left;
    .name {
    }
    .price {
        font-size: 20px;
    }
    .stock {
        font-size: 14px;
        color: #666;
    }
    .action {
        display: flex;
        padding-top: 20px;
        .quantity {
            width: 100px;
        }
        .btn-add {
            margin-left: 16px;
        }
    }
    .buy {
        padding-top: 20px;
        .btn-buy {
            width: 400px;
        }
    }
    .description {
        text-align: left;
        margin-top: 50px;
        .title {
            font-size: 16px;
            font-weight: 600;
            color: var(--text-color);
        }
        .content {
            max-height: 300px;
            overflow: auto;
        }
    }
}

.comment {
    padding: 0px 20px;
}
