.wrapper {
    margin-top: 40px;
    position: relative;
    padding: 100px 70px;
    /*Mobile: width < 740px  */
    @media only screen and (max-width: 46.1875em) {
        padding: 10px;
    }
    /* Table: width >= 740px and width < 1024 */
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        padding: 20px;
    }
}
.name {
    font-family: var(--text-font-family);
    font-size: 28px;
    font-weight: 700;
    color: var(--black-color);
    text-transform: uppercase;
    text-align: left;
}

.slider-meets {
    margin-top: 32px;
    .item {
        position: relative;
    }
    .wrapper-img {
        overflow: hidden;
        max-width: 640px;
        .img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s linear;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .title {
        text-align: left;
        color: var(--text-color);
        padding-top: 16px;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
