@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    //Color
    --primary-color: #1976d2;
    --secondary-color: #4c92d8;
    --danger-color: #f44336;
    --black-color: black;
    --white-color: white;
    --text-color: #333;
    --gray-color: rgba(22, 24, 35, 0.5);
    //Font family
    --font-family: 'Oswald', sans-serif;
    --text-font-family: 'Oswald', sans-serif;
    //Default layout
    --default-header-height: 120px;
    /* Table & Mobile: width < 1024 */
    @media only screen and (max-width: 63.9375em) {
        --default-header-height: 70px;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    // font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//Custom button,input,a
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: var(--font-family);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

//Custom scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-color);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-color);
}
html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
