.wrapper {
    position: relative;
    padding: 100px 70px;
    width: 100%;
    /*Mobile: width < 740px  */
    @media only screen and (max-width: 46.1875em) {
        padding: 10px;
    }
    /* Table: width >= 740px and width < 1024 */
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        padding: 20px;
    }
}
.name {
    font-family: var(--text-font-family);
    font-size: 28px;
    font-weight: 700;
    color: var(--black-color);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 32px;
}
.list {
    display: flex;
    justify-content: center;
    .item {
        flex: 1;
        padding-left: 20px;
        margin-bottom: 48px;
    }
    .item-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 595px;
        max-height: 595px;
        object-fit: cover;
    }
    .item-title {
        padding-top: 16px;
        text-align: left;
        color: var(--text-color);
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .item-btn {
        margin-top: 32px;
        width: 180px;
    }
}
